body {
	font-family: sans-serif;
	font-size: 11pt;
}

.desk {
	margin-top: 10px;
	position: relative;
	border: 1px solid gray;
}

.title {
	font-family: sans-serif;
	font-size: 11pt;
	font-weight: bold;
	margin-top: 3pt;
	margin-bottom: -9pt;
}

#status {
	position: absolute;
	bottom: 0;
	margin-bottom: 2pt;
	width: 100%;
}

.status {
	border: 1px solid grey;
	width: 120px;
	padding: 2px;
	background-color: red;
}

.block {
	margin-left: -1px;
	margin-top: -1px;
	width: 63px;
	height: 63px;
	position: absolute;
	border: 1px black solid;
	z-index: 90;
}

.field {
	width: 64px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 90;
}

.light {
	width: 21px;
	position: absolute;
	z-index: 80;
}

.off {
	visibility: hidden;
}

.offlight {
	width: 21px;
	position: absolute;
	z-index: 70;
}

.button {
	width: 21px;
	position: absolute;
	z-index: 100;
	cursor: pointer;
}

.text {
	position: absolute;
	font-family: sans-serif;
	text-align: center;
	width: 100%;
}

.small {
	font-size: 70%;
}

.strong {
	font-size: 75%;
	font-weight: bold;
}

.group-color {
	background-color: #b0b0ff;
}

.desk-color {
	background-color: #e0e0e0;
}

.center {
	text-align: center;
}

.px1 {
	margin-left: 0;
}
.px2 {
	margin-left: 21px;
}
.px3 {
	margin-left:43px;
}
.py1 {
	margin-top: 0;
}
.py2 {
	margin-top: 21px;
}
.py3 {
	margin-top: 43px;
}

